@import "../../../variables.scss";

.show-add-task-item {
  visibility: visible !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px !important;
  background-color: #f4faec !important;

  .add-task-form {
    width: 90%;
    height: 36px;
    display: flex;
    align-items: center;
    background-color: white !important;
    border-radius: 6px;
    border: 1px solid $secondaryBorderColor;

    .add-task-input {
      width: 85%;
      height: 36px;
      //   border: 1px solid $secondaryBorderColor;
      border: none !important;
      border-radius: 6px 0px 0px 6px;
      padding-left: 12px;
      font-size: 15px;

      &:focus {
        // border: 1px solid $secondaryBorderColor !important;
        outline: none;
      }
    }

    .dropdown {
      height: 36px !important;
      background-color: white;
      align-items: center;
      display: flex;
    }

    .uil-calender {
      color: rgba(0, 0, 0, 0.42) !important;
      //   font-size: 18px;
    }
    .uil-arrow-up {
      color: rgba(0, 0, 0, 0.42) !important;
      font-size: 16px;
    }
    .priority-3 {
      color: $highPriorityColor !important;
      font-size: 16px;
    }
    .priority-2 {
      color: $mediumPriorityColor !important;
      font-size: 16px;
    }
    .priority-1 {
      color: $lowPriorityColor !important;
      font-size: 16px;
    }

    #new-date-dropdown-button {
      //   background-color: #ededed;
      // background-color: #f7f7f9;
      outline: none !important;
      border: none !important;
      box-shadow: none !important;
      height: 36px !important;
      padding: 6px 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      margin-right: 16px;

      &::after {
        display: none !important;
      }
      &:active {
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
      }
      &:focus {
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
      }
    }

    #add-priority-dropdown-button {
      //   background-color: #ededed;
      //   background-color: #f7f7f9;
      outline: none !important;
      border: none !important;
      box-shadow: none !important;
      height: 30px;
      padding: 6px 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      margin-right: 16px;

      &::after {
        display: none !important;
      }
      &:active {
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
      }
      &:focus {
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
      }
    }
    .priority-low {
      visibility: visible !important;
      cursor: pointer;
      padding: 4px 8px;
      width: 40px;
      line-height: 24px;
      text-align: center;
      overflow: hidden;
      box-sizing: border-box;
      height: 30px;
      word-break: break-all;
      font-style: normal;
      margin-left: 4px;
      font-size: 16px;
      color: $lowPriorityColor !important;

      &:hover {
        color: $lowPriorityColor !important;
      }
    }
    .priority-medium {
      visibility: visible !important;
      cursor: pointer;
      padding: 4px 8px;
      width: 40px;
      line-height: 24px;
      text-align: center;
      overflow: hidden;
      box-sizing: border-box;
      height: 30px;
      word-break: break-all;
      font-style: normal;
      margin-left: 4px;
      font-size: 16px;
      color: $mediumPriorityColor !important;

      &:hover {
        color: $mediumPriorityColor !important;
      }
    }
    .priority-high {
      visibility: visible !important;
      cursor: pointer;
      padding: 4px 8px;
      width: 40px;
      line-height: 24px;
      text-align: center;
      overflow: hidden;
      box-sizing: border-box;
      height: 30px;
      word-break: break-all;
      font-style: normal;
      margin-left: 4px;
      font-size: 16px;
      color: $highPriorityColor !important;

      &:hover {
        color: $highPriorityColor !important;
      }
    }
  }
}

.add-task-item {
  visibility: hidden !important;

  form {
    visibility: hidden !important;
    display: none;
  }
}
