@import "../../variables.scss";

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: $z-fixed;
  font-family: $bodyFont !important;
  background-color: white;

  /*==================== NAV ====================*/
  .nav-header {
    max-width: 968px !important;
    height: $headerHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid green;

    .nav__logo {
      color: $titleColor;
      font-weight: $fontMedium;

      &:hover {
        color: $firstColor;
        text-decoration: none;
      }
    }

    .show-menu {
      bottom: 0;
    }

    .nav__list {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      // border: 1px solid gray;

      .nav__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: $smallFontSize;
        color: $titleColor;
        font-weight: $fontMedium;

        &:hover {
          color: $firstColor;
          text-decoration: none;
        }

        .nav__icon {
          font-size: 1.2rem;
        }
      }
    }

    .nav__close {
      position: absolute;
      right: 1.3rem;
      bottom: 0.5rem;
      font-size: 1.5rem;
      cursor: pointer;
      color: $firstColor;

      &:hover {
        color: $firstColorAlt;
      }
    }

    .nav__toggle {
      color: $titleColor;
      font-weight: $fontMedium;
      font-size: 1.1rem;
      cursor: pointer;

      &:hover {
        color: $firstColor;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: $bodyColor;
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

@media screen and (min-width: 767px) {
  .nav__menu {
    height: 40px !important;

    .nav__list {
      align-items: center;
      margin-bottom: 0;

      .nav__link_login {
        border: 1px solid $primaryBorderColor;
        padding: 0px 35px !important;
        height: 40px;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
      }

      .nav__link__signup {
        background-color: $primaryColor;
        padding: 0px 35px !important;
        height: 40px;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        color: white !important;
        border: none;
        font-weight: normal !important;
      }
    }
  }
}
