@import "../../../components/variables.scss";
@import "../Item//item.scss";

.list-view-container {
  width: 100%;
  height: calc(100vh - 100px);
  // margin: auto;
  padding-top: 5px;
  display: flex;
  margin: 0;

  .list-container {
    width: 57%;

    .tree-list {
      list-style: none;
      width: 95%;
      margin: 0px auto;
      padding: 0px;
      cursor: pointer;
    }

    .completed-title {
      color: #7c7b7b;
      width: 95%;
      margin: 0 auto;
      padding-left: 16px;
      padding-top: 50px;
      padding-bottom: 20px;
      // background-color: green;
    }

    .completed-tree-list {
      list-style: none;
      width: 95%;
      margin: 0px auto;
      padding: 0px;
      cursor: pointer;
    }
  }
}

.babe {
  border: 1px solid $secondaryHoverBackground;
}

@media screen and (max-width: 768px) {
  .list-view-container {
    .list-container {
      width: 100% !important;
    }
    .task-container {
      display: none !important;
    }
  }
}
