
.list-container {
    height: calc(100vh - 100px);

    .tree-list {
        list-style: none;
        width: 100%;
        margin: 0px;
        padding: 0px;
        cursor: pointer;

        .tree-item {
            position: relative;
            padding-top: 35px;
            margin-top: -1px;

            .tree-row {
                padding-left: 48px;
                position: absolute;
                top: 0;
                left: 0;
                box-sizing: border-box;
                height: 35px;
                width: 100%;
                display: flex;
                z-index: 1;
                border: 1px solid #f8f8f8;
                border-width: 1px 0;

                &:hover {
                    background-color: #ededed;
                }

                .tree-row-front {
                    text-align: right;
                }
                .tree-row-content {
                    overflow: hidden;
                    flex: 1;

                    .task-menu-bar {
                        display: flex;
                        height: 100%;
                        cursor: pointer;
                        padding-top: 1px;
                        white-space: nowrap;
                        float: right !important;
                        justify-content: center;

                        .uil-pricetag-alt {
                            padding: 4px 5px;
                            width: 42px;
                            line-height: 22px;
                            text-align: center;
                            overflow: hidden;
                            box-sizing: border-box;
                            height: 30px;
                            word-break: break-all;

                            &:hover {
                                color: green;
                            }
                        }

                        .uil-schedule {
                            padding: 4px 5px;
                            width: 86px !important;
                            line-height: 22px;
                            text-align: center;
                            overflow: hidden;
                            box-sizing: border-box;
                            height: 30px;
                            word-break: break-all;
                        }

                        .uil-user {
                            cursor:pointer;
                            padding: 4px 8px;
                            width: 40px;
                            line-height: 24px;
                            text-align: center;
                            overflow: hidden;
                            box-sizing: border-box;
                            height: 30px;
                            word-break: break-all;
                            font-style: normal;
                            margin-left: 4px;
                            font-size: 16px;
                        }
                    }

                    .task-name-wrapper {
                        padding: 2px 0px;
                        height: 100%;
                        position: relative;
                        cursor: pointer;
                        overflow: hidden;

                        .task-name-frame {
                            padding: 0px 10px 0px 5px;
                            display: inline-block;
                            position: relative;
                            width: 100%;
                            color: rgba(0,0,0,0.9);
                            // max-width: 100%;
                            // min-width: 32px;
                            height: 100%;
                            border: 1px solid transparent;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            line-height: 27px;

                            .task-name-frame-border {
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                border: 1px solid transparent;
                                pointer-events: none;

                                .task-name {
                                    line-height: 24px;
                                    color: rgba(0,0,0,0.9);
                                }
                            }                            
                        }
                    }
                }
            }
        }
    }
}